<p id="notice"><%= notice %></p>

<h2>Individual Results</h2>

  <% @class_list.each do |run_class| %>
   <table>
      <td valign=top>
            <table width=100% border=0 cellpadding=0 cellspacing=0 style="border-collapse: collapse; order-spacing: 0; margin: 0; padding: 0; ">
            <tr><th colspan="25" align=center style="background-color:Orange"><%= run_class[1]["o_class_description"]%></th></tr>
            
            <tr style="background-color:Orange">
            <td colspan=0 class="cat">Pl</td>
            <td colspan=1 class="cat">Runner</td>
            <td colspan=1 class="cat">School</td>
            <td colspan=1 class="cat">Day 1 Time</td>
            <td colspan=1 class="cat">Day 1 Score</td>
            <td colspan=1 class="cat">Day 2 Score</td>
            <td colspan=1 class="cat">Total Score</td>
        <%= render 'runners_list', :runners => @runners, :run_class => run_class %>   
        
      </td>
      
    </table>
  <% end %>

