<style type="text/css">
  body {
    margin: 0;
    padding: 10px;
  }
  
  table.teams {
    width: 100%;
  }
  table.teams #teams {
    text-align: center;
    color: white;
    background-color: #002868;
  }
  table.teams #class {
    text-align: center;
    font-weight: bold;
    background-color: LightGoldenRodYellow;
  }
  table.teams #teamentry {
    background-color: lightgrey;
  }
  table.teams #teamname {
    font-weight: bold;
    background-color: lightgrey;
  }
  table.teams #teamlineup td {
    font-size: 90%;
  }
</style>
<table class="teams">
<tr><td id="teams" colspan=5>Team Results</td></tr>
<% @classes.each do  |c, teams| %>
  <% if (teams.count > 0)%>
    <tr id="class"><td colspan=5><%= c.upcase %></td></tr>
    <!--<tr>
      <td>P</td>
      <td>Team</td>
      <td>Runner</td>
      <td>Day 1</td>
      <td>Day 2</td>
    </tr>-->
    <% iplace = 1 %>
    <% teams.each do |team| %>
      <%= render 'team_detail', :team => team, :iplace => iplace %>
      <% iplace += 1 %>
    <% end %>
  <% end %>
<% end %>
</table>