<h1><%= notice %></h1>

<h2>Individual Results Day 1</h2>

  <% @class_list.each do |run_class| %>
    <h3><%= run_class[1]["o_class_description"]%></h3>
        <table class="table table-striped" width="100%">
          <tbody>    
            <tr id="column-titles">
                  <th colspan=0 >Pl</th>
                  <th colspan=1 >Runner</th>
                  <th colspan=1 >Club/School</th>
                  <th colspan=1 class="text-right">Day 1 Time</th>
                  <% if run_class[1]["wta_score"] %>
                    <th colspan=1 class="text-right">Day 1 Score</th>
                  <% end %>
                 
              <%= render 'runners_day1_list', :runners => @runners, :run_class => run_class %>   
              
            </tr>
          </tbody>
        </table>
  <% end %>
  <br>
  <br>
  <br><b>Class AWT</b> used within the Team score calculation for successful runners
  <br><b>Category</b> AWT used within the Team score calculation for DNF, MP, Disq runners
  <br>
  <h3>US Orienteering Scoring rules
  <h4>A.35.4 <em>Scoring</em></h4><p>A.35.4.1 Scores for each race are computed as follows:</p><ol type="a"><li>For each Individual Intercollegiate class, define AWT (the average winning time) as the average of the times of the top three individual competitors in that class (for Championships use only times from Team Championship-eligible competitors). In the event that there are fewer than three eligible competitors with a valid time in any intercollegiate class, the AWT shall be calculated as the average of the times of all eligible competitors with a valid time.</li><li>For each competitor in each Individual Intercollegiate class with a valid result, their score is computed as 60*(competitor’s time)/ (AWT for the class).</li><li>For competitors with an OVT, MSP, DNF or DSQ result, their score shall be the larger of 10+[60*(course time limit)/ (AWT for the male class)] and 10+[60*(course time limit)/ (AWT for the female class)] for their team level (Varsity or JV).</li></ol><p>A.35.4.2 <em>Team Scoring</em>: The best three scores from each race for each team are combined for a team score. Lowest overall team score wins.</p>
  
